MONGO_URI =
PORT = 3001;
JWT_SECRET = 

in terminal do 
cp example.env .env 

get MONGO_URI from either texting chris or in DEPP google doc
get JWT_SECRET from either texting chris or in DEPP google doc